// Cores principais
$primary-color: #007bff;    // Azul Primário
$secondary-color: #6c757d;  // Cinza Secundário
$success-color: #28a745;    // Verde Sucesso
$info-color: #17a2b8;       // Azul Informação
$warning-color: #ffc107;    // Amarelo Aviso
$danger-color: #dc3545;     // Vermelho Perigo
$light-color: #f8f9fa;      // Branco Claro
$dark-color: #343a40;       // Preto Escuro

// Tipografia
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1rem;
